source
**/_tests
flow-typed
.vscode
docs
*.yml
*.lock
.flowconfig
.editorconfig
.babelrc
scripts
dangerfile.ts
env
jsconfig.json
coverage
.jest
types
tsconfig
test-results.json
test.json
yarn-error.log
dangerfile.circle.js
dangerfile.flow.js
dangerfile.lite.ts
tests.json
tsconfig.json
tsconfig.production.json
tslint.json
wallaby.js
