language: node_js
cache:
  yarn: true
  directories:
  - node_modules
  - .jest/cache

matrix:
  include:
  - node_js: node
    before_install:
    - yarn global add greenkeeper-lockfile@1
    before_script:
    - greenkeeper-lockfile-update
    - yarn run link
    - danger run --verbose
    after_script:
    - greenkeeper-lockfile-upload
  - node_js: '6'

  - node_js: '8'
    before_script:
      - yarn build
      - mkdir danger_blank_test
      - cd danger_blank_test
      - yarn init --yes
      - yarn add file:..
      - echo "" > dangerfile.js
      - echo "Testing a blank Dangerfile on a fresh project"
      - yarn danger -- run --text-only
      - cd ..
      - rm -rf danger_blank_test

script:
- yarn lint
- yarn add jest
- yarn jest
- rm -rf node_modules/@types/babel-*
- rm -rf node_modules/@types/babylon
- yarn docs
- if [[ $TRAVIS_NODE_VERSION == "8" ]]; then yarn add dtslint; yarn dts-lint; fi

notifications:
  slack: dangergem:9FOZou9EGBV9xO1Ol4bxRPz9

deploy:
  provider: npm
  email: orta.therox+dangernpm@gmail.com
  api_key:
    secure: MCHGI1GAiqyYsKaA9MGsmHOCAthURv8ECSeYSZJ5UpFng0FSslVBpNZ6xQSu3tETLHfqIb4y0PqS42xH+AsJh8j0z9B3Y9e4NvwCOnJBzw7qJNUm1RM0smYDkwqYDVlqRgjHoh3phi7zPOeEogpz0n+uEGHnpckNA1GpZvdIFef7oaEViRoDKxP0lZj5oV9Isdm7HLSYPXyCYqhgygr7qnHYyFBqd3h0Iw3w2/fg+IBet9Td8oCEpUAHe7WjeUmzgRF0FVKlC2d1kfJVYjx1qGKHh0F5Kmg1GE2xwM/QBwzBlq12XtnSLwi70MLjoUa+Y2m2T+A6vuoLb7OqwDsHp/plTfrfBD5Quqmnc5Hdh71MHWPz/OPtsyZkfLMdutvlM9BmM/7HR46+HrBMe7eNOCj79MsNCWRXdOWpEWrK7BLXtignfDFOUM+renDgBsuxvEaryQ8QxgbIudEqaJ0+kzGIpzHFQGnNXwAXZOz9Q38+CZds2J7mwz7RSTFipNqsyBFZbREmGdupyUgPalXLp0hjxu8y15atVPZAYxuLv2Wt2NXiuyf3HbO9uwwRWbat+nCThF+fmQmcgTrE4BlHvTiy4FIzve5nlBaEiWAOanIMFoSjs4Co9o16sZ0yZZS/1a2SgfLdCuFvYKmvUsqBcCcaypXBpqxvZMwTFA6oPQQ=
  on:
    node: 6
    repo: danger/danger-js
    tags: true
    all_branches: true
