DANGER_FAKE_CI="sure"
DANGER_TEST_REPO="artsy/emission"
DANGER_TEST_PR="327"
DANGER_GITHUB_API_TOKEN="123456789123456789123456789"
DANGER_VERBOSE="aye"
DANGER_VERBOSE_SHOW_TOKEN="yep"
DANGER_DISABLE_TRANSPILATION="false"
